# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Django
staticfiles/*
!staticfiles/.gitkeep
media/*
!media/.gitkeep
backups/*
!backups/.gitkeep
logs/*
!logs/.gitkeep
config/.env

# Editors and OS
.vscode/
.idea/
.DS_Store
