DEBUG=False
RUNNING_IN_DOCKER=False
SERVER_MODE=True

SECRET_KEY=troque-esta-chave-por-uma-chave-longa-aleatoria-com-mais-de-50-caracteres
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.50
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://192.168.1.50:8000

DB_NAME=gestix
DB_USER=gestix
DB_PASSWORD=troque-esta-senha
DB_HOST=localhost
DB_PORT=5432

USE_HTTPS=False
SERVE_MEDIA_FILES=True
BACKUP_ROOT=backups
LOG_DIR=logs
